html,
body {
    margin: 0;
    height: 100%;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #eee;
    font-family: sans-serif;
    user-select: none
}

#glcanvas {
    width: 90vmin;
    height: 90vmin;
    display: block;
    outline: none
}

#help {
    position: fixed;
    top: 0;
    left: 0;
    padding: .5rem 1rem;
    background: rgba(0, 0, 0, .75);
    line-height: 1.4;
    font-size: .85rem
}